GROQ_API_KEY=gsk_BodHhQVr3Z8cbYdJSn2AWGdyb3FYbiSEsdU8QrxdW9ohnx0kJ027gsk_aV0Kz3dbJ61cBL68moPjWGdyb3FYkFe9I2Xt5cOKCjLULcgxlSxk
PINECONE_API_KEY=pcsk_51yn3v_BQCEC6MkasrfuEndNocx5KMS4T2qdhM1uzqk3wqSzKrXc8cRussPwrmpVgbX6i2
PINECONE_INDEX_NAME=edtech-rag-index